# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# env files
.env

# Node
node_modules/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local